<div class="panel panel-default">
	<div class="panel-heading">
		<h1>New Payroll Exception</h1>
		
		<%= link_to 'Back', payroll_excepts_path, class: "btn btn-primary" %>
		
	</div>		

<%= render 'form' %>


</div>